*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

#screen{
    display: flex;
    justify-content: space-around;

}

#screen .logo {
    width: 5%;
    height: 50px;
} 
#screen .logo img{
    width: 100%;
    height: 100%;
}
.nav-link{
    display: flex;
    justify-content: space-between;
}
.nav-link h1{
    font-size: 14px;
    text-transform: uppercase;
}