/* th,td{
    border: 1px solid black;
}
th{
    background-color: lightgray;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topdiv{
    display: flex;
    background-color: antiquewhite;
    

}
.leftdiv{
    width: 40%;
    height: 100%;
    margin: 8px;
    padding-top: 10px;
    padding-left: 100px;

}
.rightdiv{
   
    width: 60%;
    height:100% ;
    margin: 8px;
    padding-top: 50px;


}

.main-content{
    display: flex;
}
.left-main{
    width: 40%;
    height: 100%;
    margin: 8px;
    padding-top: 10px;
}
.right-main{
    
    width: 60%;
    height:100% ;
    margin: 8px;
}

.right-main .aboutme{
    padding-right: 50px;
}

.right-main .education{
    padding-right: 50px;
}

.right-main .experience{
    padding-right: 50px;
}